@charset "UTF-8";

/*===============================
=            CORE            =
===============================*/

.mobile-button {
  border: none;
  background: none;
  padding: 0;
}

/*===============================
=            VENDORS            =
===============================*/

/*===============================
=            MODULES            =
===============================*/

/**
  Gets a color defined in the $pantone Map

  @param {String} $colorName - name of the color to get from the $pantone Map

  @return {String} color defined in the $pantone map
**/

/**
  Gets a color defined in the $color Map

  @param {String} $colorName - name of the color to get from the $color Map

  @return {String} color defined in the $color map
**/

/**
  Gets a background color defined in the $color Map

  @param {String} $colorName - name of the background color to get from the $color Map

  @return {String} background color defined in the $color map
**/

/**
  Foundation for Sites by ZURB
  foundation.zurb.com
  Licensed under MIT Open Source

  @group functions
**/

/**
  Removes the unit (e.g. px, em, rem) from a value, returning the number only.

  @param {Number} $num - Number to strip unit from.

  @returns {Number} The same number, sans unit.
**/

/**
  Converts one or more pixel values into matching rem values.

  @param {Number|List} $values - One or more values to convert. Be sure to separate them with spaces and not commas. If you need to convert a comma-separated list, wrap the list in parentheses.
  @param {Number} $color-base [null] - The base value to use when calculating the `rem`. If you're using Foundation out of the box, this is 16px. If this parameter is `null`, the function will reference the `$color-base-font-size` variable as the base.

  @returns {List} A list of converted values.
**/

/**
  Converts a unitless, pixel, or rem value to em, for use in breakpoints.
**/

/**
  Converts a pixel value to matching rem value. *Any* value passed, regardless of unit, is assumed to be a pixel value. By default, the base pixel value used to calculate the rem value is taken from the `$global-font-size` variable.
  @access private

  @param {Number} $value - Pixel value to convert.
  @param {Number} $color-base [null] - Base for pixel conversion.

  @returns {Number} A number in rems, calculated based on the given value and the base pixel value. rem values are passed through as is.
**/

/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */

.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */

.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-controls {
  margin-top: 10px;
  text-align: center;
}

.owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
}

.owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  border-radius: 20px;
  background: #869791;
}

.owl-controls .owl-page.active span,
.owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1;
}

/****************************** PARA EL EJEMPLO ÉSTE ******************************/

#owl-multiple .owl-carousel {
  position: relative;
}

#owl-multiple .owl-carousel .item {
  background: #fff;
  padding: 5px;
  margin: 1px;
  color: #FFF;
}

/* Gallery with thumbnails   */

.slider-gallery {
  margin: 0 -15px;
}

#owl-gallery .item img {
  display: block;
  width: 100%;
  height: auto;
}

#owl-thumbnails {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  background: transparent url(../img/bg-slider-thumb.png) 0 0 repeat;
}

#owl-thumbnails .owl-wrapper-outer {
  width: 85%;
  margin: auto;
}

#owl-thumbnails .item {
  margin: 15px 5px;
  text-align: center;
  cursor: pointer;
  height: 84px;
  overflow: hidden;
}

#owl-thumbnails .item a {
  display: block;
}

#owl-thumbnails .item img {
  width: 100%;
  height: auto;
}

#owl-thumbnails .synced .item {
  border: 2px solid #fff;
}

/*FLECHAS*/

#owl-gallery .owl-controls {
  position: absolute;
  bottom: 80px;
  width: 100%;
  z-index: 9;
}

#owl-gallery .owl-controls .owl-prev,
#owl-gallery .owl-controls .owl-next {
  position: absolute;
  display: block;
  width: 19px;
  height: 49px;
  outline: none;
  text-indent: -999999px;
}

#owl-gallery .owl-controls .owl-prev {
  left: 15px;
  background: transparent url(../img/arrow-left.png) 0 0 no-repeat;
  content: " ";
}

#owl-gallery .owl-controls .owl-next {
  right: 15px;
  background: transparent url(../img/arrow-right.png) 0 0 no-repeat;
  content: " ";
}

/*===============================
=            VARIABLES          =
===============================*/

/*=====================================
=            Pantone              =
=====================================*/

/*
  Here there are all the colors that will be present in the Web.

  NEVER include them colors directly in your scss files. You should create in the Colors sections all the links to those colors and include them instead

  The names are generated from http://www.color-blindness.com/color-name-hue/
*/

/*=====================================
=            Colors                =
=====================================*/

/*
  Here we decide the "conceptual" colors of the WEB. It englobes concepts as primary, secondary, tertiary, text, selected, lead, title, background...

  TRY NOT TO put here colors referencing Components or HTML tags (such as h1, h2, tbody, nav, user-form...).

  This colors can be included in scss files althought we can create intermediate colors referencing this ones if we need so.
*/

/**
  We now add colors referencing HTML Tags.

  This colors SHOULD reference those defined in the $color Map, althougt can reference $pantone (not ideally thought)
**/

/*
  DO NOT MODIFY NOR COMMENT:
  Merging the two maps. CAUTION, ATTRIBUTES WITH THE SAME NAME WILL BE OVERRIDED
*/

/** Brand colors to ease coloring based on current brand **/

/** Brand Colors Light with no opacity **/

/*===============================
=            COMPONENTS           =
===============================*/

.brand-secondary .ruler--dynamic {
  border-color: #73EDFF;
}

.brand-ri .ruler--dynamic {
  border-color: #38ff90;
}

.brand-x .ruler--dynamic {
  border-color: #FFE000;
}

.brand-corporate .ruler--dynamic {
  border-color: #FF7D87;
}

.brand-alumni .ruler--dynamic {
  border-color: #BD9EFF;
}

.brand-media .ruler--dynamic {
  border-color: #FF87FF;
}

body {
  background-color: #fff !important;
}

main {
  padding-bottom: 10px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

[class^="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

/* TODO change to mq */

.uppercase-block {
  text-transform: uppercase;
  font-size: 0.9375rem;
}

.ruler--inverse {
  border-bottom-width: 4px;
  border-top-width: 0;
}

.w100 {
  width: 100% !important;
}

.btn--arrow-right {
  padding: 9px 75px 9px 20px;
}

.btn--arrow-right:after {
  content: url(../img/arrow-right.png);
  position: absolute;
  width: 16px;
  height: 24px;
  right: 10px;
}

.btn--arrow-left {
  padding: 9px 20px 9px 75px;
}

.btn--arrow-left:before {
  content: url(../img/arrow-left.png);
  position: absolute;
  width: 16px;
  height: 24px;
  left: 10px;
}

.border-top--none {
  border-top: none !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.col-clear {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-clear-left {
  padding-left: 0 !important;
}

.col-clear-right {
  padding-right: 0 !important;
}

#mobile-menu-dropdown [data-dropdown-secondary-trigger] {
  margin: 10px auto;
}

#mobile-menu-dropdown .dropdown-secondary-content {
  clear: both;
}

#mobile-menu-dropdown .dropdown-secondary-content ul {
  margin-bottom: 0;
}

#mobile-menu-dropdown .dropdown-secondary-content li a {
  font-size: 16px;
  padding-left: 0;
  font-weight: normal;
}

#mobile-menu-dropdown .menu-header-mobile li a {
  font-weight: bold;
}

.menu-language-mobile li a {
  text-decoration: none;
}

.menu-language-mobile li a:after {
  content: "/";
  display: inline-block;
  position: relative;
  margin-left: 5px;
}

.menu-language-mobile li:last-child a:after {
  content: "";
}

.sub-header .menu-item a {
  color: #575757;
}

.sub-header .menu-item a:hover {
  color: #000078;
}

.sub-header .menu-item.active {
  font-weight: bold;
}

.sub-header .list--inline a {
  text-decoration: none;
  font-size: 20px;
  border-radius: 0;
  background: 0 0;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.brand-header {
  max-height: none;
}

.brand-header .mobile-menu .menu-mobile-container {
  padding: 0;
}

.brand-header .mobile-menu .menu-mobile-container .top-logo {
  float: left;
  position: relative;
  width: 57px;
}

.brand-header .mobile-menu .menu-mobile-container .top-logo img {
  height: auto;
}

.brand-header .mobile-menu .menu-mobile-container .top-slogan {
  float: left;
  padding-left: 10px;
  width: calc( 100% - 57px);
}

.brand-header .nav-menu-top .top-logo {
  max-width: 57px;
  height: auto;
}

.brand-header .nav-menu-top .top-logo a {
  display: inline-block;
}

.brand-header .nav-menu-top .top-logo img {
  height: auto;
}

.brand-header .language-drop-down .btn,
.brand-header .language-drop-down .btn .icon {
  font-weight: bold;
}

.nav-menu-top [class^="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

footer .footer-title {
  font-size: 18px;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
}

footer .footer-menu {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
}

footer .footer-menu .dropdown-secondary__option.ruler {
  border: none;
}

footer .footer-menu .dropdown-secondary__option.ruler a {
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

footer .footer-menu .dropdown-secondary__option.ruler--secondary a {
  border-color: #0A246A;
}

footer .footer-menu .dropdown-secondary__option.ruler--ri a {
  border-color: #38ff90;
}

footer .footer-menu .dropdown-secondary__option.ruler--x a {
  border-color: #FFE000;
}

footer .footer-menu .dropdown-secondary__option.ruler--corporate a {
  border-color: #FF7D87;
}

footer .footer-menu .dropdown-secondary__option.ruler--alumni a {
  border-color: #BD9EFF;
}

footer .footer-menu .dropdown-secondary__option.ruler--media a {
  border-color: #FF87FF;
}

footer .footer-menu .dropdown-secondary__option__item {
  font-weight: normal;
  padding: 0 10px 0 0;
}

footer .footer-menu .dropdown-secondary__option__item:hover {
  text-decoration: none;
}

.icon--arrow-big.cropped-icon,
.icon--info-session.cropped-icon,
.icon--lab.cropped-icon,
.icon--pdf.cropped-icon,
.icon--pencil.cropped-icon,
.icon--pointer-maps.cropped-icon,
.icon--write.cropped-icon {
  top: 0;
}

.icon--alert.cropped-icon,
.icon--ask.cropped-icon,
.icon--book.cropped-icon,
.icon--clock.cropped-icon,
.icon--comment.cropped-icon,
.icon--heart.cropped-icon,
.icon--info.cropped-icon,
.icon--intrauoc.cropped-icon,
.icon--library-respons.cropped-icon,
.icon--list.cropped-icon,
.icon--material-epub.cropped-icon,
.icon--material-html5.cropped-icon,
.icon--material-mobipocket.cropped-icon,
.icon--material-video.cropped-icon,
.icon--material-web.cropped-icon,
.icon--news.cropped-icon,
.icon--paperwork.cropped-icon,
.icon--pencil.cropped-icon,
.icon--play.cropped-icon,
.icon--quote.cropped-icon,
.icon--repository.cropped-icon,
.icon--scroll-to.cropped-icon {
  right: 0;
}

.icon--calendar.cropped-icon,
.icon--campus.cropped-icon,
.icon--copy.cropped-icon,
.icon--edit.cropped-icon,
.icon--excel.cropped-icon,
.icon--grade.cropped-icon,
.icon--group.cropped-icon,
.icon--home.cropped-icon,
.icon--library.cropped-icon,
.icon--lock.cropped-icon,
.icon--material-pdf.cropped-icon,
.icon--mobile.cropped-icon,
.icon--ppt.cropped-icon,
.icon--profile.cropped-icon,
.icon--save.cropped-icon,
.icon--share.cropped-icon,
.icon--social-twitter-white.cropped-icon,
.icon--tutorship.cropped-icon,
.icon--user.cropped-icon,
.icon--word.cropped-icon,
.icon--write.cropped-icon {
  bottom: 0;
}

.icon--error-disconnect.cropped-icon,
.icon--error-server.cropped-icon,
.icon--folder.cropped-icon,
.icon--group.cropped-icon,
.icon--mail icon--material-audio.cropped-icon,
.icon--search.cropped-icon,
.icon--smiley.cropped-icon,
.icon--tutorship.cropped-icon,
.icon--volume.cropped-icon {
  left: 0;
}

.icon--search.icon--big:before {
  position: relative;
  left: -8px;
}

.icon--search.icon--big:before {
  position: relative;
  bottom: -5px;
}

.icon--search.icon:not(.icon--big):before {
  position: relative;
  left: -6px;
}

.icon--search.icon:not(.icon--big):before {
  position: relative;
  bottom: -4px;
}

.search-form .form-group button {
  overflow: hidden;
  padding: 0;
  width: 55px;
}

.search-form .form-group .icon {
  float: left;
  font-size: 55px;
}

.search-form .form-group .icon--big {
  font-size: 4.9rem;
  max-height: 68px;
}

.search-form .form-group input,
.search-form .comment-form .form-group textarea,
.comment-form .search-form .form-group textarea {
  border: none;
  color: #333;
  font-family: "uoc-serif";
  font-size: 1.5rem;
  line-height: inherit;
  margin-top: 0;
  padding: 5px 5px 15px 15px;
  max-width: 70%;
}

.search-form--big .form-group button {
  width: 68px;
}

.search-form--big .form-group .icon {
  float: left;
  font-size: 68px;
}

.search-form--big .form-group input,
.search-form--big .comment-form .form-group textarea,
.comment-form .search-form--big .form-group textarea {
  border: none;
  color: #000078;
  font-family: "uoc-serif";
  font-size: 1.875rem;
  height: 68px;
  line-height: inherit;
  max-height: 68px;
  margin-top: 0;
  padding: 0;
  text-indent: 8px;
  max-width: 70%;
}

.list-tags {
  padding: 15px 0;
  margin-bottom: 20px;
}

.list-tags h5 {
  margin: 0 10px 0 0;
}

.list-tags ul {
  font-size: 0;
}

.list-tags ul li {
  padding: 0;
  font-size: 14px;
}

.list-tags ul li a {
  color: #575757;
  text-decoration: none;
  background: #f0f0f0;
  padding: 5px 15px;
  margin: 7px;
  display: inline-block;
}

.list-tags ul li a:hover {
  background: #ecf0f1;
}

#cookie-law-info-bar {
  width: 100%;
  position: fixed;
  left: 0;
  line-height: 1.42857143;
  bottom: 0;
  z-index: 10000;
  background-color: #f0f0f0 !important;
  color: #333 !important;
  font-size: 18px;
  text-align: left;
  border-top: none !important;
  padding: 15px 0 10px;
}

#cookie-law-info-bar span {
  width: 100%;
  display: block;
}

#cookie-law-info-bar .container {
  position: relative;
}

#cookie-law-info-bar #cookie_action_close_header {
  color: #ffffff !important;
  padding: 4px 1em;
  background: #000078 !important;
  border-radius: 0;
  font-size: 17px;
  font-weight: 400;
  min-height: 2.25rem;
  line-height: 2.25rem;
  text-decoration: none;
  position: relative;
  bottom: 0;
  display: table;
  vertical-align: middle;
  margin: 20px auto 0;
}

#cookie-law-info-bar #cookie_action_close_header:hover {
  text-decoration: underline;
}

#cookie-law-info-bar a {
  color: #000078 !important;
  text-decoration: underline;
}

#cookie-law-info-bar a:hover {
  color: #575757;
}

#cookie-law-info-again {
  background-color: #f0f0f0 !important;
  color: #333 !important;
  font-family: inherit !important;
  border: none !important;
}

#cookie_action_close_header {
  text-shadow: none !important;
  box-shadow: none !important;
}

.cli-plugin-button:active {
  top: initial;
}

.block-recent-posts {
  padding-bottom: 3.5rem;
}

.block-recent-posts img {
  display: table-cell;
  height: 61px;
  max-width: none;
  width: 63px;
}

.block-recent-posts .info {
  vertical-align: middle;
  display: table-cell;
  padding-left: 19px;
}

.block-recent-posts .info a {
  font-size: 18px;
}

.block-recent-posts .info a:hover {
  color: #333;
}

.block-recent-posts .info span {
  font-size: 15px;
}

.block-recent-posts .recent-block-item {
  display: table;
  min-height: 67px;
  width: 97%;
  padding: 7px 0;
}

.block-recent-posts .recent-block-item a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  line-height: 20px;
}

.block-recent-posts .recent-block-item .date {
  color: #575757;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
}

.block-facets {
  padding-bottom: 3.5rem;
}

.block-facets ul {
  padding: 0;
}

.block-facets ul li {
  list-style-type: none;
  padding: 3px 0;
}

.block-facets ul li a {
  color: #575757;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

.block-facets ul li a:hover {
  text-decoration: none;
}

.block-facets .length {
  color: #575757;
  font-size: 18px;
  cursor: pointer;
  float: right;
}

.block-facets .length:hover {
  text-decoration: none;
}

.block-tags {
  margin-bottom: 20px;
}

.block-tags ul {
  padding: 0;
}

.block-tags ul li {
  list-style-type: none;
  display: inline-block;
}

.block-tags ul li a {
  background: #f0f0f0;
  color: #333;
  padding: 4px 10px;
  text-decoration: none;
}

.block-tags ul li a:hover {
  text-decoration: underline;
}

.block-twitter {
  padding-bottom: 25px;
}

.block-twitter .slider-twitter .ttf-tweet-image {
  float: left;
  width: 12%;
}

.block-twitter .slider-twitter .ttf-tweet-image a img {
  border-radius: 6px;
  max-width: 100%;
  height: auto;
}

.block-twitter .slider-twitter .ttf-tweet-content {
  float: right;
  width: 86%;
}

.block-twitter .slider-twitter .ttf-tweet-content a {
  color: #575757;
}

.block-twitter .slider-twitter .Tweet-actions {
  display: inline-block;
}

.block-twitter .slider-twitter .Tweet-actions .TweetAction--reply span {
  webkit-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.block-twitter .owl-controls {
  position: absolute;
  right: 0;
  top: -50px;
}

.block-twitter .owl-controls .owl-buttons .owl-prev {
  display: inline-block;
  padding-right: 10px;
}

.block-twitter .owl-controls .owl-buttons .owl-prev:after {
  display: inline-block;
  content: url(../img/icn-arrow.png);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.block-twitter .owl-controls .owl-buttons .owl-next {
  display: inline-block;
}

.block-twitter .owl-controls .owl-buttons .owl-next:after {
  display: inline-block;
  content: url(../img/icn-arrow.png);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.block-content-entry .wrap-content h1 {
  font-size: 2.625rem;
}

.block-content-entry .wrap-content img {
  padding-bottom: 5px;
}

.block-content-entry .wrap-content .text-img {
  font-size: 15px;
  color: #575757;
  display: inline-block;
}

.block-content-entry .wrap-content p {
  margin-bottom: 20px;
}

.block-content-entry .wrap-content .entry-category:not(:first-child) {
  padding-left: 0.5rem;
}

.block-content-entry .wrap-content .content__container img[class*="wp-image"].alignleft {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}

.block-content-entry .wrap-content .content__container img[class*="wp-image"].alignright {
  float: right;
  margin: 0.5em 0 0.5em 1em;
}

.block-author h4 {
  border-bottom: 1px solid #666;
}

.block-author h4 span {
  width: auto;
  display: inline-block;
  margin-bottom: -1px;
  padding-bottom: 8px;
  color: #000078;
}

.block-author .avatar-box {
  margin-top: 1.9rem;
  display: table;
}

.block-author .avatar-box img {
  float: left;
  height: 70px;
  display: table-cell;
}

.block-author .avatar-box ul {
  margin-top: 6px;
  padding-left: 18px;
  float: left;
  list-style-type: none;
  display: table-cell;
}

.block-author .description-box {
  display: inline-block;
  margin-top: 1.9rem;
  margin-bottom: 1.9rem;
}

.block-author .autor-contact-box {
  margin-bottom: 3.9rem;
}

.block-comments {
  color: #575757;
}

.block-comments h2 {
  margin-bottom: 20px;
  color: #000078;
}

.block-comments .comment {
  margin-top: 50px;
}

.block-comments .wrap-author-comment {
  margin-bottom: 20px;
}

.block-comments .wrap-author-comment .wrap-person-img {
  width: 100%;
  display: block;
  margin: 20px auto 0;
  border-radius: 50%;
  overflow: hidden;
}

.block-comments .wrap-author-comment .wrap-info-author {
  margin-top: 20px;
}

.block-comments .wrap-author-comment .wrap-info-author span {
  display: block;
}

.block-comments .wrap-author-comment .wrap-info-author .author {
  font-size: 16px;
  font-weight: bold;
}

.block-comments .wrap-author-comment .wrap-info-author .date {
  font-size: 12px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.block-comments .wrap-comment p {
  margin: 0 0 20px;
}

.block-comments .wrap-comment .btn-blue-uoc {
  display: inline-block;
}

.block-add-comment h2 {
  margin-bottom: 20px;
}

.comment-form .form-group input,
.comment-form .form-group textarea {
  border: none;
  background: #f0f0f0;
  border-radius: 0;
  padding: 6px 20px;
  box-shadow: none;
  font-size: 14px;
}

.comment-form .form-group textarea {
  resize: none;
  display: block;
  padding: 20px;
  width: 100%;
  font-size: 14px;
  height: 160px;
}

.comment-respond {
  padding-top: 40px;
}

.block-news h2 {
  margin-top: 5px;
  margin-bottom: 15px;
}

.block-news a {
  display: block;
  text-decoration: none;
  padding-bottom: 10px;
  line-height: 18px;
  font-size: 18px;
}

.block-news img {
  padding-bottom: 15px;
}

.block-tabs .nav-tabs {
  padding-bottom: 0;
  padding-left: 0;
}

.block-tabs .nav-tabs li {
  margin-bottom: 0;
}

.block-tabs .nav-tabs li:first-child {
  margin-left: 0;
  padding-left: 0;
}

.block-tabs .nav-tabs li .tab {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-top-width: 0;
  padding-bottom: 5px;
  margin-bottom: -1px;
}

.block-header-one-column,
.block-header-two-columns {
  position: relative;
  margin-bottom: 70px;
}

.block-header-one-column .wrap-img-bg img,
.block-header-two-columns .wrap-img-bg img {
  height: 200px;
  width: auto;
}

.block-header-one-column .wrap-title,
.block-header-two-columns .wrap-title {
  position: absolute;
  z-index: 9;
  padding: 20px;
}

.block-header-one-column .wrap-title a,
.block-header-two-columns .wrap-title a {
  text-decoration: none;
}

.block-header-one-column .wrap-title h1,
.block-header-one-column .wrap-title h2,
.block-header-two-columns .wrap-title h1,
.block-header-two-columns .wrap-title h2 {
  margin: 0;
  font-size: 30px;
}

.block-header-one-column .wrap-title h3,
.block-header-two-columns .wrap-title h3 {
  color: #000078;
  font-size: 24px;
  margin-top: 5px;
}

.block-header-one-column .wrap-title {
  top: 15%;
  width: 95%;
  height: 100%;
  left: 2.5%;
}

.block-header-two-columns .wrap-title {
  top: 15%;
  width: 95%;
  height: 100%;
  left: 2.5%;
}

.block-search .wrapper-search {
  margin: 6px 0;
}

.block-search-result-title .highlighted {
  font-weight: bold;
  color: #333;
  font-family: "uoc-sans", Helvetica, Arial, sans-serif;
}

.block-post-img,
.block-post-without-img {
  height: 100%;
  position: relative;
}

.block-post-img img,
.block-post-without-img img {
  margin-bottom: 20px;
}

.block-post-img p,
.block-post-without-img p {
  font-size: 19px;
  line-height: 25px;
}

.block-post-img a,
.block-post-without-img a {
  text-decoration: none;
}

.block-post-img h2,
.block-post-without-img h2 {
  font-size: 27px;
  margin: 20px 0;
  color: #000078;
}

.block-post-img h2:hover,
.block-post-without-img h2:hover {
  color: #575757;
}

.block-post-img .date a,
.block-post-img .comments a,
.block-post-without-img .date a,
.block-post-without-img .comments a {
  color: #575757;
  margin-right: 10px;
}

.block-post-img .date a:hover,
.block-post-img .comments a:hover,
.block-post-without-img .date a:hover,
.block-post-without-img .comments a:hover {
  color: #000078;
}

.block-post-img .date a span,
.block-post-img .comments a span,
.block-post-without-img .date a span,
.block-post-without-img .comments a span {
  text-transform: uppercase;
  font-size: 15px;
}

.block-post-img .item-post-footer,
.block-post-without-img .item-post-footer {
  margin-top: 20px;
}

.block-post-img .item-post-footer .date,
.block-post-without-img .item-post-footer .date {
  font-size: 15px;
  text-transform: uppercase;
}

.block-post-img .item-post-footer .add-comment,
.block-post-without-img .item-post-footer .add-comment {
  display: none;
}

.block-post-img .item-post-footer .comments-number,
.block-post-without-img .item-post-footer .comments-number {
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
}

.block-post-img .category-name,
.block-post-without-img .category-name {
  display: block;
  font-weight: normal;
  font-size: 15px;
  color: #333;
}

.block-post-img .category-name:hover,
.block-post-without-img .category-name:hover {
  color: #000078;
}

.block-post-featured {
  margin-bottom: 80px;
}

.block-post-without-img {
  background: #f0f0f0;
  padding: 25px;
  margin-bottom: 80px;
}

.wrap-posts .block-post-img,
.wrap-posts .block-post-without-img {
  padding-bottom: 40px;
}

.wrap-posts .block-post-img h2,
.wrap-posts .block-post-without-img h2 {
  font-size: 27px;
}

.wrap-posts .block-post-img .item-post-footer,
.wrap-posts .block-post-without-img .item-post-footer {
  margin-top: 0px;
  position: absolute;
  bottom: 10px;
}

.wrap-posts .block-post-img .item-post-footer {
  width: 100%;
}

.wrap-posts .block-post-without-img .item-post-footer {
  width: 86%;
}

/* TODO mixin to iterate this elements */

.brand-secondary header .main-header {
  background: #73EDFF;
}

.brand-secondary .border-line {
  border-bottom: 4px solid #73EDFF;
}

.brand-secondary .block-header-one-column .wrap-title,
.brand-secondary .block-header-two-columns .wrap-title {
  background: #73EDFF;
}

.brand-secondary .block-header-one-column .wrap-title.bg-lightgrey,
.brand-secondary .block-header-two-columns .wrap-title.bg-lightgrey {
  background: #575757;
  border-bottom: 4px solid #73EDFF;
}

.brand-ri header .main-header {
  background: #38ff90;
}

.brand-ri .border-line {
  border-bottom: 4px solid #38ff90;
}

.brand-ri .block-header-one-column .wrap-title,
.brand-ri .block-header-two-columns .wrap-title {
  background: #38ff90;
}

.brand-ri .block-header-one-column .wrap-title.bg-lightgrey,
.brand-ri .block-header-two-columns .wrap-title.bg-lightgrey {
  background: #575757;
  border-bottom: 4px solid #38ff90;
}

.brand-alumni header .main-header {
  background: #BD9EFF;
}

.brand-alumni .border-line {
  border-bottom: 4px solid #BD9EFF;
}

.brand-alumni .block-header-one-column .wrap-title,
.brand-alumni .block-header-two-columns .wrap-title {
  background: #BD9EFF;
}

.brand-alumni .block-header-one-column .wrap-title.bg-lightgrey,
.brand-alumni .block-header-two-columns .wrap-title.bg-lightgrey {
  background: #575757;
  border-bottom: 4px solid #BD9EFF;
}

.brand-media header .main-header {
  background: #FF87FF;
}

.brand-media .border-line {
  border-bottom: 4px solid #FF87FF;
}

.brand-media .block-header-one-column .wrap-title,
.brand-media .block-header-two-columns .wrap-title {
  background: #FF87FF;
}

.brand-media .block-header-one-column .wrap-title.bg-lightgrey,
.brand-media .block-header-two-columns .wrap-title.bg-lightgrey {
  background: #575757;
  border-bottom: 4px solid #FF87FF;
}

.brand-corporate header .main-header {
  background: #FF7D87;
}

.brand-corporate .border-line {
  border-bottom: 4px solid #FF7D87;
}

.brand-corporate .block-header-one-column .wrap-title,
.brand-corporate .block-header-two-columns .wrap-title {
  background: #FF7D87;
}

.brand-corporate .block-header-one-column .wrap-title.bg-lightgrey,
.brand-corporate .block-header-two-columns .wrap-title.bg-lightgrey {
  background: #575757;
  border-bottom: 4px solid #FF7D87;
}

.brand-x header .main-header {
  background: #FFE000;
}

.brand-x .border-line {
  border-bottom: 4px solid #FFE000;
}

.brand-x .block-header-one-column .wrap-title,
.brand-x .block-header-two-columns .wrap-title {
  background: #FFE000;
}

.brand-x .block-header-one-column .wrap-title.bg-lightgrey,
.brand-x .block-header-two-columns .wrap-title.bg-lightgrey {
  background: #575757;
  border-bottom: 4px solid #FFE000;
}

.color-grey-dark {
  color: #333;
}

/*************************************************
  CUSTOM
*************************************************/
/*i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}*/

.search{
 float:right;
}

.search-form button{
  border-radius: 25px;
  width: 25px;
  margin-left: .5em;
  line-height: 0;
}

.search-form button i{
  margin:0;
  padding:0;
}

.search-form-cercador{
  float:right;
  margin-top:-3em;
}

.num-results{
  font-size: 1.2em;
}

.search-results .search-result p{
  font-weight: normal;
}

/* 
  Pagination
*/
.pagination-container{
  text-align: center;
}

ul.pagination, ul.pagination li {
  margin:0;
  padding:0;
  list-style-type:none; 
  list-style:none; 
}

ul.pagination{
  margin:10px 0;
}

ul.pagination li{
  display: inline-block;
} 

ul.pagination>li:before { content:''; margin-right:0.5em; }

ul.pagination li a {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 10px;
  color: #0275d8;
  text-decoration: none;
  cursor:pointer;
  margin-right:3px;
}

ul.pagination li a:focus, ul.pagination li a:hover, ul.pagination li a.active, ul.pagination li.active a{
  background-color: #eceeef;
  color: #014c8c;
  border-color: #ddd;
}

a.disabled, li.disabled {
  color: currentColor;
  pointer-events: none; 
  opacity: 0.5;
  text-decoration: none;
}

.poster img{ 
  max-width:250px; 
  float:left; 
  margin-right: 1em;
  margin-bottom: 1em;
}

.imdb-data .highlighted {
  font-weight: bold;
  color: #333;
  font-family: "uoc-sans", Helvetica, Arial, sans-serif;
}

.wrap-img-bg{
  display: block;
  height: 275px;
}

/* Home and lits pagination */
/*.home ul.pagination li, .list ul.pagination li{
  display: none;
}
.home ul.pagination li:nth-last-child(2),
.home ul.pagination li:nth-child(2),
.list ul.pagination li:nth-last-child(2),
.list ul.pagination li:nth-child(2){
    display: inline-block;
}*/

/*************************************************
  END CUSTOM
*************************************************/

@media (min-width: 768px) {
  main {
    padding-bottom: 130px;
  }

  .list-tags h5 {
    float: left;
  }

  .list-tags ul {
    margin: 0;
  }

  .list-tags ul li a {
    margin: 0 7px;
  }

  #cookie-law-info-bar span {
    width: 80%;
  }

  #cookie-law-info-bar #cookie_action_close_header {
    margin: 0 0 20px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .block-recent-posts .recent-block-item {
    line-height: 18px;
  }

  .block-tags {
    margin-bottom: 50px;
  }

  .block-twitter .slider-twitter {
    padding-top: 10px;
  }

  .block-twitter .slider-twitter .ttf-tweet-image {
    width: 15%;
  }

  .block-twitter .slider-twitter .ttf-tweet-content {
    width: 83%;
  }

  .block-comments h2 {
    font-size: 31px;
  }

  .block-comments .comment {
    margin-top: 10px;
  }

  .block-comments .wrap-author-comment {
    margin-bottom: 0;
  }

  .block-comments .wrap-author-comment .wrap-person-img {
    width: 80%;
    margin-left: 0;
  }

  .block-comments .wrap-author-comment .wrap-person-img .author {
    font-size: 20px;
  }

  .block-comments .wrap-author-comment .wrap-person-img .date {
    font-size: 14px;
  }

  .block-comments .wrap-author-comment .wrap-info-author .author {
    font-size: 20px;
  }

  .block-comments .wrap-author-comment .wrap-info-author .date {
    font-size: 14px;
  }

  .block-comments .wrap-comment .btn-blue-uoc {
    padding: 12px 25px;
  }

  .block-add-comment h2 {
    font-size: 31px;
  }

  .comment-respond {
    padding-top: 100px;
  }

  .block-news h2 {
    font-size: 31px;
  }

  .block-header-one-column .wrap-img-bg img,
  .block-header-two-columns .wrap-img-bg img {
    width: 100%;
    height: auto;
  }

  .block-header-one-column .wrap-title,
  .block-header-two-columns .wrap-title {
    left: initial;
    padding: 15px 20px;
  }

  .block-header-one-column .wrap-title h3,
  .block-header-two-columns .wrap-title h3 {
    font-size: 18px;
  }

  .block-header-two-columns .wrap-title {
    top: 35%;
    width: 64%;
    height: 77%;
  }

  .block-header-two-columns .wrap-title h1,
  .block-header-two-columns .wrap-title h2 {
    font-size: 28px;
  }

  .block-header-one-column .wrap-title {
    width: 33%;
    height: 85%;
    top: 8%;
  }

  .block-header-one-column .wrap-title h1,
  .block-header-one-column .wrap-title h2 {
    font-size: 24px;
  }
}

@media (min-width: 48em) {
  .container {
    width: 750px;
  }
}

@media (min-width: 62em) {
  .container {
    width: 970px;
  }
}

@media (min-width: 992px) {
  .block-recent-posts .recent-block-item {
    line-height: 20px;
  }

  .block-twitter .owl-controls {
    top: -60px;
  }

  .block-header-one-column .wrap-title,
  .block-header-two-columns .wrap-title {
    padding: 20px;
  }

  .block-header-one-column .wrap-title h3,
  .block-header-two-columns .wrap-title h3 {
    font-size: 24px;
  }

  .block-header-two-columns .wrap-title h1,
  .block-header-two-columns .wrap-title h2 {
    font-size: 32px;
  }

  .block-header-one-column .wrap-title h1,
  .block-header-one-column .wrap-title h2 {
    font-size: 28px;
  }

  .block-post-img .item-post-footer .add-comment,
  .block-post-without-img .item-post-footer .add-comment {
    display: inline-block;
    vertical-align: top;
  }

  .block-post-img .item-post-footer .comments-number,
  .block-post-without-img .item-post-footer .comments-number {
    margin-left: 5px;
  }

  .block-post-featured h2 {
    font-size: 42px;
  }
}

@media (min-width: 75em) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1200px) {
  .block-header-two-columns {
    top: 35%;
  }

  .block-header-two-columns .wrap-title h1,
  .block-header-two-columns .wrap-title h2 {
    font-size: 48px;
  }

  .block-header-one-column .wrap-title h1,
  .block-header-one-column .wrap-title h2 {
    font-size: 43px;
  }
}

@media (max-width: 61.99em) {
  .nav-menu-top [class^="col-"] {
    padding-right: 7px;
    padding-left: 7px;
  }

  .h1 {
    font-size: 2.5rem;
  }

  .h2 {
    font-size: 1.75rem;
  }

  .h3 {
    font-size: 1.75rem;
  }

  .h4 {
    font-size: 1.25rem;
  }

  .h5 {
    font-size: 1.0625rem;
  }

  .h6 {
    font-size: 0.875rem;
  }

  .search-form .form-group input,
  .search-form .comment-form .form-group textarea,
  .comment-form .search-form .form-group textarea {
    font-size: inherit;
  }
  .search-form-cercador{
    float:none;
    margin-top:auto;
  }

  .block-header-one-column  .wrap-img-bg{
    max-height:10em;
  }

  .block-header-one-column .wrap-title{
    max-height:100px;
    height:100px;
  }

  .row{
    margin-left:-10px;
    margin-right:-10px;
  }

}